.password{
    justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;   
  height: 100vh;         
}

.customer_info{
    display: flex;
  flex-direction: column;
  align-items: right;   
  height: 100vh; 
}