//shop-product scss

.shop-grid {
    padding-top: 15vh;
}

.shop-category{
    position: absolute;
    top: 15vh;
    left:5vh;
    color: #183f24; 
}

.categories{

}

.categoryOpen {
    padding-left:3vh;
}