//shop-product scss

.shop-grid {
    padding-top: 7vh;
}

.shop-category{
    position: absolute;
    top: 7vh;
    left:5vh;
    color: #183f24; 
    width: 20vh;
}

.grid-header {
    color: #183f24; 
}

.categories{

}

.categoryOpen {
    padding-left:1vh;
}

.item-container{
    padding-top: 15vh !important;
}

.card-outline{
    border: 0px !important;
}

.product-title {
    font-weight: bold;
}